/************* Main Page ***********/
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s linear infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

h1 {
  letter-spacing: 10px;
  font-family: 'Old Standard TT', serif;
  font-size: 60px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 14px;
}

.mainHeader {
  text-align: right;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-right: 25%;
  color: white;
  text-transform: uppercase;
}

.mainBody {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h3, h5 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;
}

h4 {
  font-family: sans-serif;
  font-size: 18px;
  letter-spacing: 1.8px;
}

h5 {
  font-size: 14px;
}

p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.8px;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.8px;
}

.section1, .section2 {
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ad9cef;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

/************* Nav Bar ***********/
ul.navBar li {
  float: left;
  padding: 14px;
  text-transform: uppercase;
  list-style: none;
}

ul.navBar li:hover {
  color: #ad9cef;
}

/************* Mobile ***********/
@media screen and (max-width: 900px) {
  .mainBody {
    width: 90%;
  }
  .mainHeader {
    text-align: center;
    padding-right: 0px;
  }
  #emailLink {
    font-size: 18px;
  }
}

/************* Contact Page ***********/
#finalElement {
  margin-bottom: 35%;
}

/************* Projects Page ***********/
.project {
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.30);
}

.project h3 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}
